@keyframes contentShow {
	from {
		opacity: 0;
		transform: scale(0.96);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes contentHide {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.96);
	}
}
.content,
.sub-content {
	min-width: 120px;
	padding: 8px;
	background-color: white;
	border-radius: 6px;
	border: 1px solid hsl(240 6% 90%);
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	outline: none;
	transform-origin: var(--kb-menu-content-transform-origin);
	animation: contentHide 250ms ease-in forwards;
}
.content[data-expanded],
.sub-content[data-expanded] {
	animation: contentShow 250ms ease-out;
}
